

@text-color: lighten(#d3d2cd,10);
@background-color: #fff;
@footer-height: 60px;

@import url(http://fonts.googleapis.com/css?family=Cabin:400,700);

html, body {
  height: 100%;
}

body {
	font-family: 'Cabin', sans-serif;
	background-image: url("/img/banner.jpg");
	background-repeat: none;
	background-size: 100%;
	color: @text-color;
}

.navbar-default {
	background-color: transparent;
	border: none;
}

.navbar a {
	color: @text-color !important;
	font-size: 1.2em;
	font-weight: bold;
}

#content {
  min-height: calc(~"100% -" (@footer-height * 2 + 10) );
  margin-bottom: @footer-height;
}

#logo {
	margin-top: 525x;
	text-align: center;
}

#footer {
  font-size: smaller;
  height: @footer-height;
  padding-top: 5px;
  margin-top: -@footer-height;
  background-color: darken(@background-color, 10%);
}

@import "includes/user";
