h2.text-center Guest List
.col-xs-6.col-xs-offset-3
  .input-group
    .col-xs-6.name-input
      input.input-sm.form-control(type="text", placeholder='Name')
    .col-xs-6.email-input
      input.input-sm.form-control(type="text", placeholder='Email')
    span.input-group-btn
      button.btn-sm.btn-default.text-center.add
        i.fa.fa-plus.fa-lg
hr.col-xs-offset-3.col-xs-6
#guestlist.col-xs-8.col-xs-offset-2
  table.table-striped.table-hover.col-xs-12
    thead
      tr
        th.name-column Name
        th.email-column Email
        th.rsvp-column RSVP
    tbody
      {{#each guests}}
      .guest(id="guest-{{this.cid}}")
      {{/each}}