#main.row
  h2.text-center Contact
  hr
  .col-xs-12.col-sm-6.col-sm-offset-3
    .well.text-blue.text-larger
      div.contact
        div Mike
        div
          div.mylabel Email
          a(href='mailto:MD.Furbush@gmail.com') MD.Furbush@gmail.com
        div
          div.mylabel Phone
          a(href='tel:7742180852') 774-218-0852
      div.contact
        div Amelia
        div
          div.mylabel Email
          a(href='mailto:AmeliaJWalk@gmail.com') AmeliaJWalk@gmail.com
        div
          div.mylabel Phone
          a(href='tel:2073577722') 207-357-7722