div#footer
  .container
    .row
      .col-lg-12
        p 
          | Copyright © 2014 Kevin LaFlamme
          br
          | Theme from 
          a(href='http://bootswatch.com') Bootswatch