div#header(class='navbar navbar-default navbar-static-top')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Nav Toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        {{#if admin}}
        li
          a(href='/guests') Guest List
        {{/if}}
        {{#if user}}
        {{#unless admin}}
        li
          a(href='/guests/me') Edit RSVP
        {{/unless}}
        li.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown') {{user.name}}&nbsp;
            b.caret
          ul.dropdown-menu
            li
              a(href='/guests/logout') Logout
        {{else}}
        li
          a(href='/guests/register') RSVP
        {{/if}}
        li
          a(href='/lodging') Lodging
        li
          a(href='/what_to_expect') What to Expect
        li
          a(href='/photo_help') Photography Help
        li
          a(href='/contact') Contact