div#header(class='navbar navbar-default navbar-static-top')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Nav Toggle
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .navbar-brand
      a(href='/')
        img.logo(src='/img/logo-white.png')
    .navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        {{#if admin}}
        li
          a(href='/guests') GUEST LIST
        {{/if}}
        {{#if user}}
        {{#unless admin}}
        li
          a(href='/guests/me') RSVP
        {{/unless}}
        {{else}}
        li
          a(href='/guests/register') RSVP
        {{/if}}
        li
          a(href='/lodging') LODGING
        li
          a(href='/what_to_expect') WHAT TO EXPECT
        li
          a(href='/photography') PHOTOGRAPHY HELP
        li
          a(href='/contact') CONTACT