.row#main
  .vertical-align.text-center
    #celebrate CELEBRATE LOVE
    a.btn.btn-dark#home-rsvp(href='/guests/register') RSVP
.main-container
  .container
    .row#welcome.col-sm-12.text-center
      | Welcome to our wedding website! Please explore the page to learn everything you need to know.
      | <br>Remember to RSVP using the button above, we can't wait to see all of you there!
      | <br>
      | <br>Ceremony beginning at 2:00pm Eastern
      | <br>
      | <br>Reception to follow
      | <br>
      | <br>Both to be held at:
      | <br>
      | <br>Sunny Slope Farm
      | <br>118 Old Wolfeboro Road
      | <br>Alton, NH 03809
      | <br>September 19, 2015
  .container
    .row#images
      .col-sm-4
        .image
         img(src='/img/honeymoon.jpg')
         #honeymoon-banner.img-banner
           | We have everything we need in the world, instead
           | of gifts help send us on a honeymoon!
      .col-sm-4
        .image
          img(src='/img/winebar.jpg')
      .col-sm-4
        .image
          img(src='/img/pallet.jpg')
          #pallet-banner.img-banner Expect a rustic & cozy setting
      .col-sm-4
        .image
          img(src='/img/winebucket.jpg')
          #winebucket-banner.img-banner
            | Please bring your favorite bottle of wine or alcohol!
            | We will be providing beer.