#main
  .vertical-align.text-center
    #celebrate CELEBRATE LOVE
    a.btn.btn-dark#home-rsvp(href='/guests/register') RSVP
.main-container
  .container
    .row#welcome.col-sm-12.text-center
      .text-blue
        | Beloved family & friends~<br>
        | <br>
        | We hope that you will join us for a wonderful evening of merriment and marriage on September 19, 2015.<br>
        | <br>
        | The ceremony will begin at 2 PM with reception to follow, both to be held at:<br>
        | <br>
        | Sunny Slope Farm<br>
        | <br>
        | 118 Old Wolfeboro Road<br>
        | <br>
        | Alton, NH 03809<br>
        | <br>
        | Please use this website as a resource for anything you’d like to know about our special day.<br>
        | <br>
        | (And don’t forget to RSVP above!)<br>
        | <br>
        | We can't wait to see all of you there! <br>
        | <br>
        | Love,<br>
        | <br>
        | Mike & Amelia<br>
  .container
    .row#images
      .col-sm-4
        .image
         img(src='/img/honeymoon.jpg')
         #honeymoon-banner.img-banner
           | We have everything we need in the world, instead
           | of gifts help send us on a honeymoon!
      .col-sm-4
        .image
          img(src='/img/winebar.jpg')
      .col-sm-4
        .image
          img(src='/img/pallet.jpg')
          #pallet-banner.img-banner Expect a rustic & cozy setting
      .col-sm-4
        .image
          img(src='/img/winebucket.jpg')
          #winebucket-banner.img-banner
            | Please bring your favorite bottle of wine or alcohol!
            | We will be providing beer.