#main.row
  .text-center#celebrate-container
    #celebrate CELEBRATE LOVE
    a.btn.btn-dark#home-rsvp(href='/guests/register') RSVP
.main-container
  .container
    .row#welcome.col-sm-12.text-center
      img(class='col-sm-10 col-sm-offset-1',src='/img/invite.png')
  .container
    .row#images
      .col-sm-4
        .image
          img(src='/img/pallet.jpg')
          #pallet-banner.img-banner Expect a rustic & cozy setting
      .col-sm-4
        .image
          img(src='/img/winebar.jpg')
      .col-sm-4
        .image
          img(src='/img/buffet1.jpg')
          #buffet-banner.img-banner
            | Plan on eating lunch before your arrival, we will supply a healthy buffet style dinner with all sorts
            | of snacks and desserts.
    .row
      .col-sm-4
        .image
          img(src='/img/foodtruck.jpg')
          #foodtruck-banner.img-banner
            | A local food vendor will be coming by late night to supply some much needed nourishment to help offset 
            | the booze! Have some cash ready!
      .col-sm-4
        .image
         img(src='/img/honeymoon.jpg')
         #honeymoon-banner.img-banner
           | We have everything we need in the world, instead
           | of gifts help send us on a honeymoon!
      .col-sm-4
        .image
          img(src='/img/winebucket.jpg')
          #winebucket-banner.img-banner
            | Please bring your favorite bottle of wine or alcohol!
            | We will be providing beer.
    .row
      .col-sm-4
        .image
          img(src='/img/photography2.jpg')
          #photography-banner.img-banner
            | Check out the ‘Photography Help’ tab at the top of the page to see how you can help us capture 
            | our big day
      .col-sm-4
        .image
          img(src='/img/contact3.jpg')
          #contact-banner.img-banner
            | Use the ‘Contact’ tab at the top of the page for any further questions
      .col-sm-4
        .image
          img(src='/img/dog.jpg')
          #dog-banner.img-banner
            | Dogs are welcome!
    .row
      .col-sm-12
        .image
          img(src='/img/beach.jpg')
          #beach-banner.img-banner
            | Nothing is possible without good friends – Many hands make the work light


