#main.row
  h2.text-center Lodging
  hr
  .col-xs-12.text-center
   | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.804535013032!2d-71.2217282!3d43.4646778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb32be6356e1a55%3A0x83776e4560aa7006!2s118+Old+Wolfeboro+Rd%2C+Alton%2C+NH+03809!5e0!3m2!1sen!2sus!4v1430870205164" width="600" height="450" frameborder="0" style="border:0"></iframe>
  .well.col-xs-6.col-xs-offset-3.text-blue#lodging
    p
      | This area of New Hampshire is beautiful, and the lodging accommodations follow suit. If you have the
      | opportunity, we recommend booking a cabin/campsite/B&B for the weekend. There are few better
      | places to be than Lake Winnipesaukee in the Fall.
      | <br><br>
      | IMPORTANT! Please get in touch with us ASAP if you want some help booking! Fall travel is very popular
      | in this region so things are filling up fast. We also do not want cost to deter anyone from being part of
      | the wedding. Please let us know if we can help and we will most certainly figure out a way to
      | accommodate.
      | <br>
    h3 Air Travel
    p
      | The closest airport is Manchester-Boston Regional (1hr drive).<br> 
      | Boston Logan International is still relatively accessible (1:40 drive).
    h3 Hotel
    a(href='http://www.ihg.com/holidayinnexpress/hotels/us/en/tilton/tilex/hoteldetail?cm_mmc=GoogleMaps-_-ex-_-USEN-_-tilex') Holiday Inn Express & Suites Lakes Region (32 minutes to the farm)
    br
    a(href='http://www.ihg.com/holidayinnexpress/hotels/us/en/rochester/rcnnh/hoteldetail?cm_mmc=GoogleMaps-_-ex-_-USEN-_-rcnnh') Holiday Inn Express & Suites Rochester (20 minutes to the farm)
    h3 Inns
    a(href='www.bayside-inn.com') Bayside Inn – Right on the lake for $165/night.
    br
    *Note: There are many inns close by, a quick search should turn up something that suits your needs.
    h3 Campgrounds
    table.table
      tr
        td
          a(href='http://www.nhstateparks.org/explore/state-parks/ellacoya-state-park.aspx') Ella Coya State Park
        td RV/Trailer only
        td Gilford, NH
        td $42-47/night
        td 603-293-7821
      tr
        td 
          a(href='www.willeybrookcampground.com/') Willeybrook Campground
        td Tents and trailers
        td Wolfeboro, NH
        td $28-37/night
        td 603-569-9493
      tr
        td 
          a(href='http://www.grandviewcamping.com/') Grandview Campground
        td Rental Cabins/RV
        td Rochester, NH
        td
        td 603-332-1263
      tr
        td 
          a(href='www.wolfeborocampground.com') Wolfeboro Campground
        td Tent sites
        td Wolfeboro, NH
        td $28/night
        td 603-569-9881
      tr
        td 
          a(href='www.paugusbaycampground.com/') Paugus Bay Campground
        td Tents, trailers, RVs
        td Laconia, NH
        td $44-48/night
        td 603-366-4757
    h3 Shuttle Service
    p
      | If a group of you are staying at the same hotel, campground, inn, etc then perhaps we can set up some 
      | sort of shuttle service. A few options below…
    ol
      li Celebrity Coach:  603-859.5775;  Contact:  Jane; From Boston Airport:  $155 one way, can hold 4 + luggage; Mercedes SUV; Other shuttles available from Manchester airport.
      li Wolfboro Trolley: 603-569-1080, a previous wedding at SSF used this service.
      li Winnipasaki Delivery: (Wolfboro) - 603-569.3189
      li Pipping Rock: 603-569.1915
      li Gerry Amoskeag 603-641.4777; can rent for the day to shuttle from hotels to SSF
    p
      | Again, please contact us if we can help in anyway. We want all of you to have as enjoyable of a 
      | day/weekend as possible. If the cost or stress of travel/lodging is a deal breaker for attending please 
      | communicate with us so we can help find a good solution. Party on.