#main
  h2.text-center Lodging
  hr
  .col-xs-12.text-center
   | <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2895.804535013032!2d-71.2217282!3d43.4646778!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb32be6356e1a55%3A0x83776e4560aa7006!2s118+Old+Wolfeboro+Rd%2C+Alton%2C+NH+03809!5e0!3m2!1sen!2sus!4v1430870205164" width="600" height="450" frameborder="0" style="border:0"></iframe>