#main.row
  h2.text-center Photography Help
  hr
  .col-xs-12.col-sm-6.col-sm-offset-3
    .well.text-blue
      | Hi guests! Help us capture the moment!<br>
      | <br>
      | We want to be able to relive the wedding in as many pictures as possible. We want to see you all getting ready, the road-trips, the hotel rooms, the ceremony, the drunk uncles, the dancing fools, the cake cutting, and everything inbetween! Help us get all the small moments that get overlooked. We know there will be lots of “selfies” but don’t forget to capture the unexpecting friends, playful kids, New Hampshire foliage and anything else creative and worth remembering.<br>
      | <br>
      | To accomplish this, everyone should download the app called <a href='https://www.wedpics.com'>WedPics - Wedding Photo App</a> to your smartphones. 
      | By simply searching for our wedding ID "BushWalka2015" you will be able to upload pictures to our account.