#main
  h2.text-center Photography Help
  hr
  .col-xs-6.col-xs-offset-3
    .well.text-larger.text-blue
      | Hi guests! Help us capture the moment!
      | 
      | We will be supplying plenty of keg beer but would really appreciate if you bring your favorite bottle of wine or 
      | 
      | alcohol. We will have a bar set up with garnishes, ice, mixers, etc if there is a favorite cocktail you want to make. 
      | 
      | We want to be able to relive the wedding in as many pictures as possible. We want to see you all getting ready, the 
      | 
      | road-trips, the hotel rooms, the ceremony, the drunk uncles, the dancing fools, the cake cutting, and everything 
      | 
      | LODGING
      | 
      | inbetween! Help us get all the small moments that get overlooked. We know there will be lots of “selfies” but don’t 
      | 
      | The lakes region of New Hampshire is home to many wonderful inns, campgrounds, cabins, and B&B’s. Although 
      | 
      | forget to capture the unexpecting friends, playful kids, New Hampshire foliage and anything else creative and worth 
      | 
      | there are few hotels
      | 
      | remembering.