#main
  h3.text-center What To Expect
  hr
  .col-xs-6.col-xs-offset-3
    .well.text-larger.text-blue
      h3 THE VENUE
      | Sunny Slope Farm is a rustic farmhouse set on a hillside. We want you to dress comfortably and wear sturdy footwear to enjoy the day. 
      h3 FOOD
      | It would be best if you come to the wedding after having a good lunch. There will be a snack table set up after the ceremony. Dinner will be a buffet style meal with plenty of options for different food and dietary preferences. Make sure to leave room for dessert!
      | <br>
      | We also plan on coordinating with a local food vendor to provide a late night bite to help soak up some of the party juice! Plan on having a few bucks cash if you anticipate wanting to try some!
      h3 DRINK
      | We will be supplying plenty of keg beer but would really appreciate if you bring your favorite bottle of wine or alcohol. We will have a bar set up with garnishes, ice, mixers, etc if there is a favorite cocktail you want to make.
      h3 LODGING
      | The lakes region of New Hampshire is home to many wonderful inns, campgrounds, cabins, and B&B’s. Although there are few hotels close by, there are many alternatives which can make for a really special weekend with your friends and families. The ‘Lodging’ tab at the top of the page has a list of possible destinations. Popular towns nearby are Wolfeboro (15 minutes) and Laconia (30 minutes), each having great places to stay. We also want to help ensure that no one needs to make a drive after a long night of drinking. Please let us know how we can help accommodate you to make everyone’s experience safe and fun.
      h3 DOGS
      | Dogs are welcome at their owner’s discretion. If there is any chance your pup may get overwhelmed by all the people, music, or other dogs it would be best to find a good dog-sitter instead. Our Bergie will be patrolling the grounds all day (please don’t feed him anything no matter what he tries to tell you about eating human food and staying up late!)