#main {
	min-height: 900px;
	background-color: transparent;
}

#celebrate-container {
  margin-top: 250px;
}

#celebrate {
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#home-rsvp {
	margin-top: 25px; 
	font-size: 24px;
	font-weight: bold
}

#welcome {
  margin: 30px 0px;
}

.image {
  width: 100%;
  position: relative;
  margin: 15px 0px;
}

.image.tall {
  height: 505px;
}

.image.short {
  height: 350px;
}

.image.huge {
  height: 740px;
}

.image.pull-up {
  margin-top: -140px;
}

.img-holder {
  position: relative;
  height: 100%;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img-banner {
  position: relative;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 20px 10px;
  background-color: #3b4259;
  opacity: 0.8;
}

#pallet-banner {
  top: -450px;
}

#pallet-img {
  background-image: url('/img/pallet.jpg');
}

#lodging-banner {
  top: -180px;
}

#lodging-img {
  background-image: url('/img/lodging.jpg');
}

#buffet-banner {
  top: -180px;
}

#buffet-img {
  background-image: url('/img/buffet1.jpg');
}

#honeymoon-banner {
  top: -300px;
}

#honeymoon-img {
  background-image: url('/img/honeymoon.jpg');
}

#foodtruck-banner {
  top: -200px;
}

#foodtruck-img {
  background-image: url('/img/foodtruck.jpg');
}

#winebucket-banner {
  top: -200px;
}

#winebucket-img {
  background-image: url('/img/winebucket.jpg');
}

#dog-banner {
  top:-450px;
}

#dog-img {
  background-image: url('/img/dog.jpg');
}

#contact-banner {
  top:-180px;
}

#contact-img {
  background-image: url('/img/contact3.jpg');
}

#photography-banner {
  top: -300px;
}

#photography-img {
  background-image: url('/img/photography2.jpg');
}

#beach-banner {
  top:-200px;
}

#beach-img {
  background-image: url('/img/beach.jpg');
}

#lodging {
  margin-top: 40px;
}

#lodging h3 {
  margin-top: 30px;
}