
.form-group:last-child {
	margin-bottom: 0px;
}

.center-btn {
	float: none;
	display: inline-block;
}

tbody tr {
	cursor: pointer;
	height: 2em;
}

td,th {
	padding: 2px;
}

.name-column {
	width: 30%;
}

.guests-column {
	width: 20%;
}

.rsvp-column {
	width: 10%;
}

.btn-sm, .btn-xs {
	border: none;
}