doctype html
html(lang='en')
  
  head
    title= title
    
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='/css/style.css')
    
    block head
    script(src='/script/lib/require-min.js',data-main='/script/index')

  body