#main.row
  h2.text-center Guest List
  hr.col-xs-offset-3.col-xs-6
  #guestlist.col-xs-8.col-xs-offset-2
    .well.text-blue.row
      table.table-striped.table-hover.col-xs-12
        thead
          tr
            th.name-column Name
            th.email-column Email
            th.guests-column Guests
            th.rsvp-column RSVP
            th 
        tbody
          {{#each guests}}
          tr.guest(id="{{this._id}}")
            td {{this.name}}
            td {{this.email}}
            td {{this.guests}}
            td {{this.rsvp}}
            td.text-center
              .button.delete
                span.glyphicon.glyphicon-remove
          {{/each}}
.modal.fade#confirm-delete
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        | Are you sure you want to delete this guest from the list?
      .modal-footer.text-center
        button.btn.btn-dark.btn-ok(type='button',aria-hidden='true') Delete
        button.btn.btn-cancel(type='button',data-dismiss='modal',aria-hidden='true') Cancel