h2.text-center Login
hr.col-xs-offset-3.col-xs-6
.login
  .col-xs-6.col-xs-offset-3
    .well
      form.form-horizontal(action='#', method='post')
        .form-group
          .col-xs-2
            label.control-label(for="email") Email
          .col-xs-10
            input#email.form-control(name='email', placeholder='littlebobbytables@example.com')
        .form-group
          .col-xs-2
            label.control-label(for="password") Password
          .col-xs-10
            input#password.form-control(name='password', type='password', placeholder='password')
        .form-group.text-center
          .col-xs-3.center-btn
            button.btn.btn-primary.login Login