#main.row
  h2.text-center {{title}}
  hr
  .user-form
    .col-xs-6.col-xs-offset-3
      .well.text-blue
        {{#if new}}
        #already.text-center.col-xs-12
          .col-xs-offset-3.col-xs-6.text-center
            | Already RSVP'd? <a href='/guests/login'>Login</a> to update your response.
        {{else}}
        #already.text-center.col-xs-12
          .col-xs-offset-3.col-xs-6.text-center
            | Not you? <a href='/guests/logout'>Logout</a>. 
        {{/if}}
        form.form-horizontal(action='#')
          .form-group(class='{{#if error.name}}has-error{{/if}}')
            .col-xs-2
              label.control-label(for="name") Name
            .col-xs-10
              input#name.form-control(name='name', placeholder='Full Name', value="{{user.name}}")
          .form-group(class='{{#if error.email}}has-error{{/if}}')
            .col-xs-2
              label.control-label(for="email") Email
            .col-xs-10
              {{#if new}}
              input#email.form-control(name='email', placeholder='youremail@example.com', value="{{user.email}}")
              {{else}}
              input#email.form-control(name='email', disabled, value="{{user.email}}")
              {{/if}}
          .form-group
            .col-xs-2
              label.control-label(for="rsvp") RSVP
            .col-xs-4
              select.form-control#rsvp(name='rsvp')
                <option {{#if going}}selected{{/if}} value='yes'> Going </option>
                <option {{#unless going}}selected{{/unless}} value='no'> Not going </option>
                <option {{#unless responded}}selected{{/unless}} disabled> Select One </option>
          .form-group
            .col-xs-2
              label.control-label(for="guests") Guests
            .col-xs-3
              input#guest.form-control(name='guests', type='number', value='{{user.guests}}') 
          .form-group
            .col-xs-2
              label.control-label(for="comment") Comment
            .col-xs-10
              textarea#comment.form-control(name='comment', placeholder='Comment') {{user.comment}}
          .form-group(class='{{#if error.password}}has-error{{/if}} {{#unless new}}hidden{{/unless}}')
            .col-xs-2
              label.control-label(for="password") Password
            .col-xs-10
              input#password.form-control(name='password', placeholder='Password', type='password', value="{{user.password}}")
          .form-group(class='{{#if error.password2}}has-error{{/if}} {{#unless new}}hidden{{/unless}}')
            .col-xs-2
              label.control-label(for="password2") Confirm
            .col-xs-10
              input#password2.form-control(name='password2', placeholder='Confirm Password', type='password', value="{{user.password2}}")
          .form-group.text-center
            .col-xs-3.center-btn#save-button
              button.btn.btn-dark {{button_text}}
.modal.fade#rsvp-success
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        | Thanks! Your RSVP has been saved.
      .modal-footer.text-center
        button.btn.btn-dark(type='button',data-dismiss='modal',aria-hidden='true') Ok
.modal.fade#rsvp-error
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        | There was an error saving your RSVP.<br><br>
        | If you've already RSVP'd, please <a href="/guests/login">Login</a>.<br><br>
        | If not, make sure that you've entered your name and 
        | that you're password is at least 6 characters long.
      .modal-footer.text-center
        button.btn.btn-dark(type='button',data-dismiss='modal',aria-hidden='true') Ok